# file options

--exclude Tests/XCTestManifests.swift,Tests/BadConfig,Snapshots,Build,PluginTests

# format options

--enumnamespaces always
--extensionacl on-extension
--stripunusedargs always
--shortoptionals always
--voidtype tuple
--allman false
--binarygrouping 4,8
--commas always
--decimalgrouping 3,6
--elseposition same-line
--voidtype void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--header strip
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--indent 4
--indentcase false
--importgrouping testable-bottom
--linebreaks lf
--maxwidth none
--octalgrouping 4,8
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--self remove
--closurevoid remove
--semicolons never
--stripunusedargs always
--swiftversion 5.1
--modifierorder private,public,internal,fileprivate,open
--trimwhitespace always
--wraparguments preserve
--wrapcollections preserve

# rules

--enable isEmpty
--enable andOperator
--enable anyObjectProtocol
--enable blankLineAfterImports
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenImports
--enable blankLinesBetweenScopes
--enable blockComments
--enable braces
--enable conditionalAssignment
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable docComments
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable enumNamespaces
--enable genericExtensions
--enable headerFileName
--enable hoistAwait
--enable hoistPatternLet
--enable hoistTry
--enable redundantBreak
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable redundantBackticks
--enable preferKeyPath
--enable redundantClosure
--enable redundantGet
--enable redundantInternal
--enable redundantLet
--enable redundantNilInit
--enable redundantLetError
--enable redundantFileprivate
--enable redundantParens
--enable redundantInit
--enable redundantExtensionACL
--enable redundantOptionalBinding
--enable redundantRawValues
--enable redundantReturn
--enable redundantPattern
--enable redundantObjc
--enable redundantStaticSelf
--enable spaceAroundComments
--enable sortSwitchCases
--enable spaceAroundGenerics
--enable spaceAroundBraces
--enable sortTypealiases
--enable spaceAroundBrackets
--enable sortImports
--enable spaceAroundParens
--enable spaceInsideBrackets
--enable spaceInsideBraces
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable todos
--enable strongifiedSelf
--enable wrapConditionalBodies
--enable wrapSwitchCases
